{% extends "opengraph.html" %}
{% load duration %}

{% block content %}

    <div class="w-[1200px] h-[630px] relative">
        {% if battle.vs_mode == "FEST" and battle.splatfest_clout_multiplier != "NONE" %}
            {% include "splatnet_assets/squid_tape.html" with bg="bg-purple-600 -rotate-6 left-16 top-12 scale-[2.5] z-10 absolute" content=battle.get_splatfest_clout_multiplier_display %}
        {% endif %}

        <img src="{{ battle.vs_stage.image.url }}" class="w-full h-full absolute top-0 left-0 object-cover">
        <div class="h-full w-2/5 absolute right-0 bg-gray-800/70 bg-[url('../images/tapes-transparent.png')] bg-contain px-8 flex flex-col {% if battle.teams.count > 2 %}gap-2 py-4{% else %}gap-8 py-12{% endif %}">
            {% for team in battle.teams.all|dictsort:"order" %}
                <div class="w-full h-min px-2 py-1 {% if battle.teams.count > 2 %}rotate-1 odd:-rotate-1{% else %}rotate-2 odd:-rotate-2{% endif %} rounded-lg bg-[color:var(--team-color)]"
                     style="--team-color: {{ team.color.css }}">
                    <span class="font-splatoon1 text-3xl">{% if team.judgement == "WIN" %}
                        VICTORY{% elif team.judgement == "DRAW" %}DRAW{% elif team.judgement == "LOSE" %}
                        DEFEAT{% else %}--{% endif %}</span>
                    {% if team.fest_team_name %}<span class="text-xl">Team {{ team.fest_team_name }}</span>{% endif %}
                    <div class="flex flex-col gap-1">
                        {% for player in team.players.all %}
                            <div class="flex flex-row grow relative gap-2 bg-black/50 rounded-full p-1">
                                {% if player.is_self %}
                                    <svg class="fill-yellow-300 absolute -left-8 -top-1 w-10 h-10"
                                         xmlns="http://www.w3.org/2000/svg" width="25" height="24" fill="none"
                                         viewBox="0 0 25 24">
                                        <path fill-rule="evenodd"
                                              d="M15.57 0L0 1.015 6.882 23l12-4.616-.13 4.193L24 15.982l-7.484-3.975 1.851 3.835-6.668.393L15.569 0z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                {% endif %}

                                <img src="{{ player.weapon.flat_image.url }}" class="w-10 h-10 relative top-0">
                                <span class="text-lg pt-2 truncate">{{ player.name }}</span>
                                <div class="grow"></div>
                                <div class="flex flex-row gap-4 px-4 justify-end rounded-full bg-black/50">
                                    <span class="text-xl w-9 whitespace-nowrap pt-1">{{ player.paint }}p</span>
                                    <span class="text-lg w-7 whitespace-nowrap pt-[2px]">
                            {% if player.species == "OCTOLING" %}
                                {% include "battles/svg/octoling_splat.html" with color=team.color %}
                            {% else %}
                                {% include "battles/svg/inkling_splat.html" with color=team.color %}
                            {% endif %}
                                        x{{ player.kills|default_if_none:"--" }}
                                        {% if player.assists and player.assists != 0 %}
                                            <sub class="text-xs text-gray-300 -ml-1.5">
                                                    ({{ player.assists }})
                                                </sub>
                                        {% endif %}
                        </span>
                                    <span class="text-lg w-4 whitespace-nowrap pt-[2px]">
                            {% if player.species == "OCTOLING" %}
                                {% include "battles/svg/octoling_splatted.html" with color=next_team.color %}
                            {% else %}
                                {% include "battles/svg/inkling_splatted.html" with color=next_team.color %}
                            {% endif %}
                                        x{{ player.deaths|default_if_none:"--" }}
                        </span>
                                    <span class="text-lg w-6 whitespace-nowrap">
                        {% with maskingId=player.npln_id %}
                            <svg width="24" class="h-4 w-4 relative top-0" viewBox="0 0 128 128"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                                 role="img" aria-label="Special-Weapon Uses"
                                 preserveAspectRatio="xMidYMid slice">
                                    <mask id="__{{ maskingId }}" maskUnits="userSpaceOnUse" style="mask-type: alpha;">
                                        <image x="0" y="0" width="{{ player.weapon.special.mask_image.width }}"
                                               height="{{ player.weapon.special.mask_image.height }}"
                                               href="{{ player.weapon.special.mask_image.url }}">
                                        </image>
                                    </mask>
                                    <rect x="0" y="0" width="{{ player.weapon.special.mask_image.width }}"
                                          height="{{ player.weapon.special.mask_image.height }}"
                                          fill="{{ team.color.css }}"
                                          mask="url(#__{{ maskingId }})"></rect>
                                    <image x="0" y="0" width="{{ player.weapon.special.overlay_image.width }}"
                                           height="{{ player.weapon.special.overlay_image.height }}"
                                           href="{{ player.weapon.special.overlay_image.url }}">
                                    </image>
                                </svg>
                        {% endwith %}
                                        x{{ player.specials|default_if_none:"--" }}
                        </span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="h-1/5 w-[calc(60%-2rem)] bg-gray-800/50 bg-[url('../images/tapes-transparent.png')] bg-contain rounded-lg p-4 absolute ml-4 mb-4 bottom-0">
            <div class="flex gap-4">
            <span class="text-3xl font-splatoon1">
                {{ battle.vs_stage.name.string }}
            </span>
                <div class="grow"></div>
                <span class="text-2xl">
                <img src="/static/images/rule-icons/{{ battle.get_vs_rule_image_name|lower }}.svg"
                     class="inline-block h-10 w-10">
                {{ battle.get_vs_rule_display }}
            </span>
            </div>
            <div class="mt-1 w-full h-1/2 bg-black rounded-full overflow-hidden flex">
                {% if battle.judgement == "DRAW" %}
                    <span class="text-2xl text-center align-middle w-full h-full pt-1">
                No contest.
            </span>
                {% elif battle.judgement == "DEEMED_LOSE" %}
                    <span class="text-2xl text-center align-middle w-full h-full pt-1">
                The match was not fully completed.
            </span>
                {% else %}
                    {% if team_bar_display|length > 2 %}
                        {% for team in team_bar_display %}
                            {% if team.team_value != 0 %}
                                <div
                                        class="w-[var(--bar-width)] h-full bg-[color:var(--team-color)] text-4xl font-splatoon1 align-middle text-center
                                first:text-left last:text-right first:pl-4 last:pr-4 overflow-visible whitespace-nowrap {% if team.width < 50 %}z-10{% endif %}"
                                        style="--team-color: {{ team.team_color.css }}; --bar-width: {{ team.width }}%">
                                    {{ team.display_text }}</div>
                            {% else %}
                                <div></div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="h-full w-full relative before:block before:absolute before:w-full before:h-[40px] before:-left-[0.5px] before:-top-[5px] before:content-[''] before:bg-[url('/static/opengraph/waves.png')] before:bg-top before:bg-no-repeat before:bg-[length:100%_25px] before:z-10
                                bg-[var(--last-team-color)] bg-[url('/static/opengraph/bubbles.png')] bg-contain"
                             style="--last-team-color:
                                 {% with team_bar_display|last as last %}{{ last.team_color.css }}{% endwith %}">
                            <div class="float-left text-left h-full flex items-center">
                                <div class="absolute h-full bg-[var(--team-color)] bg-[url('/static/opengraph/bubbles.png')] bg-contain [mask-image:url('/static/opengraph/cutout.png')] [mask-repeat:no-repeat] [mask-size:cover] [mask-position:right_center]"
                                     style="width: {{ team_bar_display.0.width }}%; --team-color: {{ team_bar_display.0.team_color.css }};"
                                ></div>
                                <div class="font-splatoon1 relative text-3xl px-3 whitespace-nowrap z-20">
                                    {{ team_bar_display.0.display_text }}
                                </div>
                            </div>
                            <div class="float-right text-right h-full flex items-center">
                                <div class="font-splatoon1 relative text-3xl px-3 whitespace-nowrap z-20">
                                    {{ team_bar_display.1.display_text }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>

            <div class="absolute w-full -top-12 left-0 px-4 text-center text-gray-50 [text-shadow:1px_1px_black]">
                <span>{{ battle.played_time }}</span>
                <span>{{ battle.duration|duration }}</span>
                <br>
                <span>{{ battle.player.paint }}p</span>
                {% if battle.power %}
                    Power: {{ battle.power|floatformat:1 }}
                {% endif %}
                {% if battle.splatfest_clout_contribution %}
                    <span>Clout: {{ battle.splatfest_clout_contribution }}</span>
                {% endif %}
                {% if battle.splatfest_festival_shells %}
                    <span>Festival Shells: {{ battle.splatfest_festival_shells }}</span>
                {% endif %}
            </div>
        </div>

        <span class="text-white/60 pl-2 pb-2 absolute bottom-0 left-0 text-lg font-light">
            splashcat.ink
            <span class="pl-4">{{ battle.player.name }}#{{ battle.player.name_id }}</span>
        </span>
    </div>
{% endblock %}