{% extends "base.html" %}
{% load mask_id %}
{% load i18n %}
{% load static %}
{% load duration %}

{% block opengraph_head %}
    <meta property="og:title" content="{{ battle.uploader.display_name }}'s battle on {{ battle.played_time }}">

    <meta property="og:description" content="{% if battle.gpt_description_generated %}
        {{ battle.gpt_description }}
    {% else %}
        Splashcat records battle data for later analysis.
    {% endif %}">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image"
          content="https://cdn.splashcat.ink/image-render/battle/{{ battle.id }}/render.png?quality=100">
{% endblock %}

{% block description %}
    {% if battle.gpt_description_generated %}
        {{ battle.gpt_description }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block title %}{{ battle.uploader.display_name }}'s battle on {{ battle.played_time }}{% endblock %}

{% block content %}
    {% include "users/includes/page-background.html" with profile=battle.uploader %}

    <h1 class="text-3xl font-splatoon1">
        <a href="{% url 'profile' battle.uploader.username %}">{{ battle.uploader.display_name }}</a>'s battle on
        <time datetime="{{ battle.played_time }}">{{ battle.played_time }}</time>

        <button class="share-button inline-block"
                data-url="https://splashcat.ink/battles/{{ battle.id }}/?share"
                data-content-type="Battle"
                data-share-type="webShare"
        >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-8 h-8 inline">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15m0-3l-3-3m0 0l-3 3m3-3V15"></path>
            </svg>
        </button>

        <button class="share-button inline-block"
                data-url="https://splashcat.ink/battles/{{ battle.id }}/?share"
                data-content-type="Battle"
                data-share-type="clipboard"
        >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 inline">
                <path fill-rule="evenodd"
                      d="M19.902 4.098a3.75 3.75 0 00-5.304 0l-4.5 4.5a3.75 3.75 0 001.035 6.037.75.75 0 01-.646 1.353 5.25 5.25 0 01-1.449-8.45l4.5-4.5a5.25 5.25 0 117.424 7.424l-1.757 1.757a.75.75 0 11-1.06-1.06l1.757-1.757a3.75 3.75 0 000-5.304zm-7.389 4.267a.75.75 0 011-.353 5.25 5.25 0 011.449 8.45l-4.5 4.5a5.25 5.25 0 11-7.424-7.424l1.757-1.757a.75.75 0 111.06 1.06l-1.757 1.757a3.75 3.75 0 105.304 5.304l4.5-4.5a3.75 3.75 0 00-1.035-6.037.75.75 0 01-.354-1z"
                      clip-rule="evenodd"></path>
            </svg>
        </button>
    </h1>
    {% if user.is_staff %}
        <div class="py-2">
            <a href="{% url 'admin:battles_battle_change' battle.id %}" class="bg-red-700 p-2 rounded w-fit">Admin</a>
        </div>
    {% endif %}

    <a class="flex flex-row gap-2 items-center my-3 w-fit" href="{% url 'profile' battle.uploader.username %}">
        {% if battle.uploader.profile_picture %}
            <img src="{{ battle.uploader.profile_picture.url }}?optimizer=image&height=72&width=72"
                 alt="{{ battle.uploader.display_name }}"
                 class="h-12 w-12 object-cover rounded-lg">
        {% endif %}
        <div class="flex flex-col">
            <div class="text-xl">
                {{ battle.uploader.display_name }}
                {% if battle.uploader.display_sponsor_badge %}
                    <img src="{% static 'images/splashcat-sponsor-badge.png' %}" alt="Splashcat Sponsor"
                         class="h-6 inline-block [image-rendering:pixelated]">
                {% endif %}
            </div>
            <div class="text-sm text-gray-400">@{{ battle.uploader.username }}</div>
        </div>
    </a>

    <div class="flex flex-row gap-4 flex-wrap">
        {% if battle.gpt_description_generated %}
            <details class="bg-purple-800 p-4 rounded w-fit max-w-prose group">
                <summary class="group-open:border-b-2 group-open:mb-2 group-open:pb-1">AI Battle Description</summary>
                {{ battle.gpt_description }}
            </details>
        {% endif %}
        {% if battle.uploader_id == user.id and user.has_splashcat_assistant %}
            <div>
                <a href="{% url 'assistant:create_thread' 'battles' 'Battle' battle.id %}"
                   class="bg-purple-800 p-4 rounded w-fit block">Create Assistant Thread</a>
            </div>
        {% endif %}
    </div>

    <div class="flex flex-row flex-wrap gap-4 items-center">
        <div class="flex flex-wrap gap-4 py-2">
            <span class="text-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor"
                     class="w-8 h-8 inline">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>

                {{ battle.duration|duration }}
            </span>
        </div>

        <div class="text-lg">
            {% if battle.vs_mode == battle.VsMode.BANKARA and battle.anarchy_mode %}
                {{ battle.get_anarchy_mode_display }}
            {% elif battle.vs_mode == battle.VsMode.FEST and battle.splatfest_mode %}
                {{ battle.get_splatfest_mode_display }}
            {% else %}
                {{ battle.get_vs_mode_display }}
            {% endif %}

            {% if battle.power is not None %}
                <span class="text-base">
                    (Power: {{ battle.power|floatformat:1 }})
                </span>
            {% endif %}
        </div>

        {% if battle.challenge %}
            <div class="text-lg">
                {{ battle.challenge.name.string }}
            </div>
        {% endif %}

        <div class="text-lg">
            {% with image_name=battle.get_vs_rule_image_name|lower %}
                <img src="{% static 'images/rule-icons/'|add:image_name|add:'.svg' %}"
                     class="inline-block h-8 w-8" alt="">
            {% endwith %}
            {{ battle.get_vs_rule_display }}
        </div>
    </div>

    {% if battle.judgement == "EXEMPTED_LOSE" %}
        <span class="bg-gray-700/60 text-xl p-4 rounded inline-block my-4">
            Because one or more players were not able to continue, the match will not count as a loss.
        </span>
    {% elif battle.judgement == "DEEMED_LOSE" %}
        <span class="bg-gray-700/60 text-xl p-4 rounded inline-block my-4">
            The match was not fully completed.
        </span>
    {% elif battle.judgement == "DRAW" %}
        <span class="bg-gray-700/60 text-xl p-4 rounded inline-block my-4">
            No contest.
        </span>
    {% endif %}

    <div class="max-w-[1200px] bg-[url:var(--stage-image)] h-fit bg-cover grid grid-cols-1 auto-rows-auto lg:grid-cols-5 lg:grid-rows-5 relative pt-2 lg:pt-0"
         style="--stage-image: url({{ battle.vs_stage.image.url }});">

        {% if battle.vs_mode == "FEST" and battle.splatfest_clout_multiplier != "NONE" %}
            {% include "splatnet_assets/squid_tape.html" with bg="bg-purple-600 -rotate-6 left-4 top-4 scale-[1.5] lg:scale-[2] absolute" content=battle.get_splatfest_clout_multiplier_display %}
        {% endif %}

        <div class="row-start-3 row-end-6 lg:col-start-4 lg:col-end-6 lg:row-span-full bg-gray-800/70 bg-[url('../images/tapes-transparent.png')] bg-contain px-4 lg:px-8 flex flex-col lg:flex-col {% if battle.teams.count > 2 %}gap-2 py-2 lg:py-4{% else %}gap-8 py-6 lg:py-12 md:flex-row{% endif %}">
            {% get_color battle.uploader %}
            {% for team in battle.teams.all|dictsort:"order" %}
                {% include "battles/components/team_card.html" with team=team %}
            {% endfor %}
        </div>

        <div class="row-start-1 row-end-2 lg:col-start-1 lg:col-end-4 lg:row-start-4 lg:row-end-5 px-4 text-center text-gray-50 flex flex-col gap-2 justify-end [text-shadow:1px_1px_black]">
            <span>
                <span>{{ battle.played_time }}</span>
                <span>{{ battle.duration|duration }}</span>
            </span>

            <span>
                <span>{{ battle.player.paint }}p</span>
                {% if battle.power %}
                    Power: {{ battle.power|floatformat:1 }}
                {% endif %}
                {% if battle.splatfest_clout_contribution %}
                    <span>Clout: {{ battle.splatfest_clout_contribution }}</span>
                {% endif %}
                {% if battle.splatfest_festival_shells %}
                    <span>Festival Shells: {{ battle.splatfest_festival_shells }}</span>
                {% endif %}
            </span>
        </div>

        <div class="row-start-2 row-end-3 lg:col-start-1 lg:col-end-4 lg:row-start-5 lg:row-end-6 bg-gray-800/50 relative bg-[url('../images/tapes-transparent.png')] bg-contain rounded-lg px-4 py-2 mx-4 mb-4 flex flex-col gap-2">
            <div class="flex gap-4">
                <span class="text-xl md:text-3xl font-splatoon1">
                    {{ battle.vs_stage.name.string }}
                </span>
                <div class="grow min-w-0"></div>
                <span class="text-lg md:text-2xl">
                    {% with image_name=battle.get_vs_rule_image_name|lower %}
                        <img src="{% static 'images/rule-icons/'|add:image_name|add:'.svg' %}"
                             class="inline-block h-10 w-10 -mr-2" alt="">
                    {% endwith %}
                    {{ battle.get_vs_rule_display }}
                </span>
            </div>
            <div class="w-full grow bg-black rounded-full overflow-hidden flex">
                {% if battle.judgement == "DRAW" %}
                    <span class="text-2xl text-center align-middle w-full h-full pt-1">
                            No contest.
                    </span>
                {% elif battle.judgement == "DEEMED_LOSE" %}
                    <span class="text-2xl text-center align-middle w-full h-full pt-1">
                        The match was not fully completed.
                    </span>
                {% else %}
                    {% if team_bar_display|length > 2 %}
                        {% for team in team_bar_display %}
                            {% if team.team_value != 0 %}
                                <div
                                        class="w-[var(--bar-width)] h-full bg-[color:var(--team-color)] text-3xl md:text-4xl font-splatoon1 align-middle text-center
                                first:text-left last:text-right first:pl-4 last:pr-4 overflow-visible whitespace-nowrap {% if team.width < 50 %}z-10{% endif %} splatoon-text-shadow"
                                        style="--team-color: {{ team.team_color.css }}; --bar-width: {{ team.width }}%">
                                    {{ team.display_text }}</div>
                            {% else %}
                                <div></div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="h-full w-full relative before:block before:absolute before:w-full before:h-[40px] before:-left-[0.5px] before:-top-[5px] before:content-[''] before:bg-[url('/static/opengraph/waves2.png')] before:[background-position-y:top] before:bg-repeat-x before:bg-[length:50%_30px] before:z-10
                                bg-[var(--last-team-color)] bg-[url('/static/opengraph/bubbles.png')] bg-contain before:[animation:20s_linear_0s_infinite_battle-waves]"
                             style="--last-team-color:
                                 {% with team_bar_display|last as last %}{{ last.team_color.css }}{% endwith %}">
                            <div class="float-left text-left h-full flex items-center">
                                <div class="absolute h-full bg-[var(--team-color)] bg-[url('/static/opengraph/bubbles.png')] bg-contain [mask-image:url('/static/opengraph/cutout.png')] [mask-repeat:no-repeat] [mask-size:cover] [mask-position:right_center]"
                                     style="width: {{ team_bar_display.0.width }}%; --team-color: {{ team_bar_display.0.team_color.css }};"
                                ></div>
                                <div class="font-splatoon1 relative text-2xl md:text-3xl px-3 whitespace-nowrap z-20 splatoon-text-shadow">
                                    {{ team_bar_display.0.display_text }}
                                </div>
                            </div>
                            <div class="float-right text-right h-full flex items-center">
                                <div class="font-splatoon1 relative text-2xl md:text-3xl px-3 whitespace-nowrap z-20 splatoon-text-shadow">
                                    {{ team_bar_display.1.display_text }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <span class="text-white/60 pl-2 pb-2 absolute bottom-0 left-0 text-lg font-light">
            splashcat.ink
            <span class="pl-4">{{ battle.player.name }}#{{ battle.player.name_id }}</span>
        </span>
    </div>

    {% if battle.awards.count > 0 %}
        <h2 class="text-xl font-splatoon1">{% translate "Medals Earned" %}</h2>
        <div class="-rotate-2 -pt-1 pb-6 w-fit">
            {% for award in battle.awards.all %}
                <div
                        class="bg-no-repeat bg-contain bg-top w-[220px] h-[39px] pr-[21px] pl-[47px] text-gray-900 font-splatoon1 text-[13px] relative flex align-middle items-center justify-center whitespace-nowrap box-border my-2 ml-0 [&:nth-child(2)]:ml-5 [&:nth-child(3)]:ml-10"
                        style="background-image: url('{% static 'images/medal-bg.png' %}')"
                >
                    <span>{{ award.name.string }}</span>

                    {% if award.gold %}
                        <img class="h-[52px] w-[48px] absolute left-px -top-px rotate-2"
                             src="{% static 'images/gold-medal.png' %}"
                             alt="Gold">
                    {% else %}
                        <img class="h-[36px] w-[34px] absolute left-[4px] top-[5px] rotate-2"
                             src="{% static 'images/silver-medal.png' %}" alt="Silver">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <h2 class="text-xl font-splatoon1">Splashtag</h2>

    {% include 'includes/splashtag.html' with splashtag=battle.splashtag only %}

    {% if battle.battlevideo %}
        <h2 class="text-xl font-splatoon1">Video</h2>

        <div class="max-w-3xl aspect-video">
            <iframe src="https://iframe.mediadelivery.net/embed/140045/{{ battle.battlevideo.bunny_video_id }}?autoplay=false&loop=false&muted=false&preload=false"
                    loading="lazy" style="border:none;height:100%;width:100%;"
                    allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
                    allowfullscreen="allowfullscreen"></iframe>
        </div>
    {% endif %}

    {% with battle.get_related_battles as related_battles %}
        {% if related_battles|length > 0 %}
            <h1 class="text-2xl font-splatoon1 pt-2">Related Battles</h1>
            <span class="text-lg pt-2">Other Splashcat users have uploaded this same battle!</span>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 pt-2">
                {% for related_battle in related_battles %}
                    {% include 'users/includes/battle-card.html' with battle=related_battle display_uploader=True %}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% if battle.uploader_agent_name %}
        <p class="text-sm pt-2">
            Uploaded using {{ battle.uploader_agent_name }} {% if battle.uploader_agent_version %}(version
            {{ battle.uploader_agent_version }}){% endif %}.
        </p>

        {% if battle.uploader_agent_extra %}
            <div class="text-sm pt-2">Extra data:</div>
            <span class="font-mono text-xs pt-1 max-w-prose">{{ battle.uploader_agent_extra }}</span>
        {% endif %}
    {% endif %}

    <div class="sticky left-0 bottom-0 w-full flex gap-4 px-2 sm:px-4 md:px-6 lg:px-8 xl:px-12 py-2 mt-4 -mb-3 sm:rounded-t-xl bg-gray-700 whitespace-nowrap text-xs sm:text-sm md:text-base z-40">
        <a href="{{ latest_battle.get_absolute_url }}" class="py-2 px-4 rounded-full bg-gray-600">Latest Battle</a>
        <div class="grow"></div>
        {% with next_battle=battle.get_player_next_battle %}
            <a href="{{ next_battle.get_absolute_url }}"
               class="py-2 px-4 rounded-full {% if next_battle %}bg-gray-600{% else %}bg-gray-600/50 text-gray-400{% endif %}">
                Next
            </a>
        {% endwith %}
        {% with previous_battle=battle.get_player_previous_battle %}
            <a href="{{ previous_battle.get_absolute_url }}"
               class="py-2 px-4 rounded-full {% if previous_battle %}bg-gray-600{% else %}bg-gray-800 text-gray-400{% endif %}">
                Previous
            </a>
        {% endwith %}
    </div>
{% endblock %}
