# fly.toml app configuration file generated for splashcat on 2023-06-12T20:53:52-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "splashcat"
primary_region = "iad"
console_command = "/code/manage.py shell"
swap_size_mb = 4096

[deploy]
release_command = "python manage.py migrate"
strategy = "bluegreen"

[env]
PORT = "8080"
DJANGO_ALLOWED_HOSTS = "splashcat.fly.dev,splashcat.ink,splashcat.internal,splashcat.flycast"
DEBUG = "False"
SENTRY_DSN = "https://9babb5ac79274bed8e3c56a222b44ab6@o4505055559352320.ingest.sentry.io/4505055561449472"
BUNNY_VIDEO_LIBRARY_ID = "140045"
FLY_API_HOSTNAME = "http://_api.internal:4280"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 0
processes = ["app"]

[[http_service.checks]]
grace_period = "5s"
interval = "5s"
method = "get"
path = "/health-check/"
protocol = "http"
restart_limit = 5
timeout = "5s"
tls_skip_verify = false

[[statics]]
guest_path = "/code/staticfiles"
url_prefix = "/static/"

[[statics]]
guest_path = "/code/battles/format_schemas"
url_prefix = "/battles/api/schemas/"

[processes]
app = "daphne -b :: -p 8080 splashcat.asgi:application"
celery-worker = "celery -A splashcat worker -l INFO -B -P solo"
