<div class="flex flex-col gap-1">
    <img
            src="{{ gear.gear.image.url }}"
            alt="{{ gear.gear.name.string }}"
            title="{{ gear.gear.name.string }}"
            data-tippy="{{ gear.gear.name.string }}"
            class="max-h-24 self-center"
            loading="lazy"
    >
    <div class="flex gap-0.5 justify-start items-center">
        <img
                src="{{ gear.primary_ability.image.url }}"
                alt="{{ gear.primary_ability.name.string }}"
                title="{{ gear.primary_ability.name.string }}"
                data-tippy="{{ gear.primary_ability.name.string }}"
                class="rounded-full bg-black h-8 w-8"
                loading="lazy"
        >
        {% for ability in gear.secondary_abilities %}
            <img
                    src="{{ ability.image.url }}"
                    alt="{{ ability.name.string }}"
                    title="{{ ability.name.string }}"
                    data-tippy="{{ ability.name.string }}"
                    class="rounded-full bg-black h-6 w-6"
                    loading="lazy"
            >
        {% endfor %}
    </div>
</div>