{% extends "base.html" %}

{% block title %}
    Splashcat
{% endblock %}

{% block content %}
    <h1 class="text-3xl font-splatoon1">
        Splashcat
    </h1>

    {% if user.is_authenticated and user_recent_battles|length > 0 %}
        <h2 class="text-2xl font-splatoon1">Your Recent Battles</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
            {% for battle in user_recent_battles %}
                {% include "users/includes/battle-card.html" with battle=battle %}
            {% endfor %}
        </div>
    {% endif %}

    <h2 class="text-2xl font-splatoon1">Recent Battles</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        {% for battle in recent_battles %}
            {% include "users/includes/battle-card.html" with battle=battle display_uploader=True %}
        {% endfor %}
    </div>

    <h2 class="text-2xl font-splatoon1">Data</h2>
    <div class="flex flex-row gap-4">
        <a href="{% url 'battles:global_data_export' %}" class="p-4 rounded bg-pink-600 hover:bg-pink-700">Global Battle
            Data</a>
    </div>
{% endblock %}