{% extends "base.html" %}
{% load static cache %}

{% block title %}Splashcat{% endblock %}

{% block content %}
    <h1 class="text-3xl font-splatoon1">
        Splashcat
    </h1>
    <p class="text-xl">An award-winning service to track Splatoon 3 battles</p>

    {% if user.is_authenticated and user_recent_battles|length > 0 %}
        <h2 class="text-2xl font-splatoon1">Your Recent Battles</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
            {% for battle in user_recent_battles %}
                {% include "users/includes/battle-card.html" with battle=battle %}
            {% endfor %}
        </div>
    {% else %}
        <div class="flex flex-col gap-4 px-1">
            <div class="flex flex-col md:flex-row gap-4">
                <div class="basis-1/2 card-mask -rotate-1 bg-gray-400 p-4 pt-2 rounded bg-contain bg-[url('../images/tapes-transparent.png')] mx-auto max-w-fit">
                    <img src="{% static 'images/tape/tape-1.png' %}?height=72" alt="" height="136" width="600"
                         class="rotate-6 drop-shadow z-10 mx-auto relative h-12 w-auto top-6">
                    <img src="{% static 'images/home/battles.png' %}?height=482" alt="battle cards"
                         class="drop-shadow-lg border-4 rounded border-gray-700 h-auto w-full mx-auto"
                         height="768" width="1542"
                         srcset="{% static 'images/home/battles.png' %}?width=400 400w,
                                 {% static 'images/home/battles.png' %}?width=500 500w,
                                 {% static 'images/home/battles.png' %}?width=600 600w,
                                 {% static 'images/home/battles.png' %}?width=700 700w,
                                 {% static 'images/home/battles.png' %}?width=716 716w,
                                 {% static 'images/home/battles.png' %}?width=1000 1000w,
                                 {% static 'images/home/battles.png' %} 1542w"
                         sizes="(min-width: 768px) 40vw, 90vw">
                </div>
                <div class="basis-1/2 flex justify-center items-center">
                    {% include "splatnet_assets/squid_tape.html" with bg="bg-splatoon-blue rotate-1 font-splatoon1 text-3xl" content="Track your battles!" border="p-4" %}
                </div>
            </div>

            <div class="flex flex-col md:flex-row-reverse gap-4">
                <div class="basis-1/2 card-mask rotate-1 bg-gray-400 p-4 pt-2 rounded bg-contain bg-[url('../images/tapes-transparent.png')] mx-auto max-w-fit overflow-hidden">
                    <img src="{% static 'images/tape/tape-2.png' %}?height=96" alt="" height="147" width="332"
                         class="-rotate-6 drop-shadow z-10 mx-auto relative h-16 w-auto top-6">
                    <img src="{% static 'images/home/statistics.png' %}" alt="a player's statistics"
                         class="drop-shadow-lg border-4 rounded border-gray-700 h-auto w-full mx-auto" height="274"
                         srcset="{% static 'images/home/statistics.png' %}?width=400 400w,
                                 {% static 'images/home/statistics.png' %}?width=500 500w,
                                 {% static 'images/home/statistics.png' %}?width=600 600w,
                                 {% static 'images/home/statistics.png' %}?width=700 700w,
                                 {% static 'images/home/statistics.png' %}?width=800 800w,
                                 {% static 'images/home/statistics.png' %} 900w"
                         sizes="(min-width: 768px) 40vw, 90vw"
                         width="900">
                    <img src="{% static 'images/tape/tape-1.png' %}?height=72" alt="" height="136" width="600"
                         class="relative z-10 drop-shadow h-10 w-auto bottom-8 left-[85%] -rotate-45">
                </div>
                <div class="basis-1/2 flex justify-center items-center">
                    {% include "splatnet_assets/squid_tape.html" with bg="bg-splatoon-purple -rotate-1 font-splatoon1 text-3xl" content="View battle statistics!" border="p-4" %}
                </div>
            </div>

            <div class="flex flex-col md:flex-row gap-4">
                <div class="flex flex-row justify-center items-center basis-1/3">
                    <img
                            src="{% static 'images/splashcat-sponsor-badge.png' %}?format=png" alt="sponsor badge"
                            height="16" width="16"
                            class="[image-rendering:pixelated] h-full w-auto min-h-[8rem] aspect-square">
                </div>
                <div class="basis-2/3 flex flex-col justify-center items-center gap-2">
                    {% include "splatnet_assets/squid_tape.html" with bg="bg-splatoon-purple rotate-1 font-splatoon1 text-3xl" content="Support Splashcat!" border="p-4" %}

                    <p class="max-w-lg text-lg text-center">
                        Sponsor Splashcat to support future development and receive a sponsor badge and profile
                        customizations!
                    </p>

                    <a href="{% url "sponsor" %}" class="p-4 bg-white text-black rounded text-lg"><img
                            src="{% static 'images/splashcat-sponsor-badge.png' %}?format=png" alt=""
                            class="h-8 w-8 inline [image-rendering:pixelated]"
                            height="16" width="16">
                        Sponsor</a>
                </div>
            </div>
        </div>
    {% endif %}

    <h2 class="text-2xl font-splatoon1">Recent Battles</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        {% for battle in recent_battles %}
            {% include "users/includes/battle-card.html" with battle=battle display_uploader=True use_random_color=True %}
        {% endfor %}
    </div>

    <h2 class="text-2xl font-splatoon1">Data</h2>
    <div class="flex flex-row gap-4">
        <a href="{% url 'battles:global_data_export' %}" class="p-4 rounded bg-pink-700 hover:bg-pink-800">Global Battle
            Data</a>
    </div>
{% endblock %}