{% extends "base.html" %}

{% block content %}
    <h1 class="text-2xl font-splatoon1">
        {% block title %}Legal{% endblock %}
    </h1>

    <p class="text-lg">
        These documents are hosted as GitHub Gists to ensure transparency. Visit <a
            href="https://gist.github.com/catgirlinspace/841c081e570b05bdd2efe081f7133491"
            class="text-blue-500 underline" target="_blank">this
        gist</a> to see revision history.
    </p>

    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://gist.github.com/catgirlinspace/841c081e570b05bdd2efe081f7133491.js"></script>

{% endblock %}