{% extends "base.html" %}

{% load static %}

{% block title %}
    Sponsor
{% endblock %}

{% block content %}
    <h1 class="text-2xl">
        Heya!
    </h1>

    <p class="prose-xl max-w-prose prose-a:text-blue-500 prose-a:underline">
        Splashcat is developed primarily by <a href="{% url 'profile' 'catgirl' %}">Rosalina</a> (that's me!) with help from
        <a href="https://github.com/splashcat-ink">friends</a>. Please consider supporting my work by becoming a
        sponsor! Splashcat is somewhat expensive for me to host so it helps me so much.
        It would mean a lot to me!! You also get this cool little badge on your profile page when you link your GitHub
        account!
    </p>

    <div class="text-lg py-2">
        <img src="{% static 'images/splashcat-sponsor-badge.png' %}?format=png" alt="Splashcat Sponsor"
             class="h-12 w-12 inline-block [image-rendering:pixelated]">
        <-- that's the cool badge!
    </div>

    <iframe src="https://github.com/sponsors/catgirlinspace/card" title="Sponsor catgirlinspace" height="175"
            width="600" style="border: 0;" class="max-w-full"></iframe>

    <h2 class="text-xl font-splatoon1">Sponsor Features</h2>
    <p class="text-lg py-2">
        $5/month
    </p>
    <ul class="list-disc list-inside text-lg max-w-prose">
        <li>
            Sponsor Badge
            <img src="{% static 'images/splashcat-sponsor-badge.png' %}?format=png" alt="Splashcat Sponsor"
                 class="h-8 w-8 inline-block [image-rendering:pixelated]">
            <p class="text-sm ml-8 text-gray-500">
                Must configure GitHub sponsorship privacy as public to display.
            </p>
        </li>
        <li>
            Favorite Color
            <p class="text-md ml-8">
                Set a favorite color to be used for sub and special weapon icons on your profile and elsewhere on
                Splashcat.
            </p>
            <p class="text-sm ml-8 text-gray-500">
                Sponsorship privacy does not affect this feature.
            </p>
        </li>
        <li>
            Page Backgrounds
            <p class="text-md ml-8">
                Configure a background image to be shown on your profile and battle pages!
            </p>
            <p class="text-sm ml-8 text-gray-500">
                Sponsorship privacy does not affect this feature.
            </p>
        </li>
    </ul>

    <h2 class="text-xl font-splatoon1">S+ponsor Features</h2>
    <p class="text-lg py-2">
        $10/month
    </p>
    <ul class="list-disc list-inside text-lg max-w-prose">
        <li>
            AI Battle Descriptions
            <p class="text-md ml-8">
                Battles uploaded to Splashcat will have a short AI generated description added to them. Perfect for
                sharing your battles on social media!
            </p>
            <p class="text-sm ml-8 text-gray-500">
                Sponsorship privacy does not affect this feature.
            </p>
        </li>
        <li><span class="font-splatoon1">+</span> All Sponsor Features</li>
    </ul>

    <h2 class="text-xl font-splatoon1">Xponsor Features</h2>
    <p class="text-lg py-2">
        $15/month
    </p>
    <ul class="list-disc list-inside text-lg max-w-prose">
        <li>
            Splashcat Assistant
            <p class="text-md ml-8">
                Receive insights on your battle data with Splashcat Assistant.
            </p>
            <p class="text-sm ml-8 text-gray-500">
                Sponsorship privacy does not affect this feature.
            </p>
        </li>
        <li><span class="font-splatoon1">+</span> All Sponsor and S+ponsor Features</li>
    </ul>

    {% if current_sponsors|length > 0 %}
        <h2 class="font-splatoon1 text-xl">Current Sponsors</h2>

        <div class="flex flex-row gap-2 flex-wrap">
            {% for sponsor in current_sponsors %}
                {% include "users/includes/user-link.html" with user=sponsor show_splashtag=True %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
