{% extends "base.html" %}
{% load static %}

{% block opengraph_head %}
    <meta property="og:title" content="{{ battle_group.creator.display_name }}'s Shared Battle Group">

    <meta property="og:description" content="Splashcat records battle data for later analysis.">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image"
          content="https://cdn.splashcat.ink/image-render/battle-group/{{ battle_group.id }}/render.png?quality=100">
{% endblock %}

{% block content %}
    <h1 class="font-splatoon1 text-3xl pb-2">
        {% block title %}
            {{ battle_group.creator.display_name }}'s Shared Battle Group
        {% endblock %}

        <button class="share-button inline-block"
                data-url="https://splashcat.ink/battles/groups/{{ battle_group.id }}/?share"
                data-content-type="BattleGroup"
                data-share-type="webShare"
        >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-8 h-8 inline">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15m0-3l-3-3m0 0l-3 3m3-3V15"></path>
            </svg>
        </button>

        <button class="share-button inline-block"
                data-url="https://splashcat.ink/battles/groups/{{ battle_group.id }}/?share"
                data-content-type="BattleGroup"
                data-share-type="clipboard"
        >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 inline">
                <path fill-rule="evenodd"
                      d="M19.902 4.098a3.75 3.75 0 00-5.304 0l-4.5 4.5a3.75 3.75 0 001.035 6.037.75.75 0 01-.646 1.353 5.25 5.25 0 01-1.449-8.45l4.5-4.5a5.25 5.25 0 117.424 7.424l-1.757 1.757a.75.75 0 11-1.06-1.06l1.757-1.757a3.75 3.75 0 000-5.304zm-7.389 4.267a.75.75 0 011-.353 5.25 5.25 0 011.449 8.45l-4.5 4.5a5.25 5.25 0 11-7.424-7.424l1.757-1.757a.75.75 0 111.06 1.06l-1.757 1.757a3.75 3.75 0 105.304 5.304l4.5-4.5a3.75 3.75 0 00-1.035-6.037.75.75 0 01-.354-1z"
                      clip-rule="evenodd"></path>
            </svg>
        </button>
    </h1>

    <h2 class="font-splatoon1 text-xl">Creator</h2>
    {% include "users/includes/user-link.html" with user=battle_group.creator show_splashtag=True %}

    <h2 class="font-splatoon1 text-xl">Statistics</h2>
    <div class="flex flex-row flex-wrap divide-x-2 divide-gray-500 gap-y-2">
        <div class="px-4">
            <div class="text-lg">Victories</div>
            <div class="text-2xl">{{ win_count }}</div>
        </div>
        <div class="px-4">
            <div class="text-lg">Defeats</div>
            <div class="text-2xl">{{ lose_count }}</div>
        </div>
        <div class="px-4">
            <div class="text-lg">Win Rate</div>
            <div class="text-2xl">{{ win_rate|floatformat:1 }}%</div>
        </div>
    </div>

    <h2 class="font-splatoon1 text-xl">Battles</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        {% for battle in battles %}
            {% include "users/includes/battle-card.html" with battle=battle %}
        {% endfor %}
    </div>
{% endblock %}