{% extends "base.html" %}

{% block content %}
    <h1 class="font-splatoon1 text-3xl py-1">{% block title %}
        Groups
    {% endblock %}</h1>
    <p class="text-lg py-1">
        Create and join groups to share your battling experiences with friends!
        See how you preform as a team or compete on the leaderboards!
    </p>

    <div class="py-4">
        <a href="{% url 'groups:create_group' %}" class="bg-purple-700 hover:bg-purple-800 py-2 px-4 rounded">
            Create Group
        </a>
    </div>

    {% if member_groups|length > 0 %}
        <h2 class="font-splatoon1 text-2xl py-1">Joined Groups</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
            {% for group in member_groups %}
                {% include "groups/includes/card.html" with group=group %}
            {% endfor %}
        </div>
    {% endif %}

    {% if random_public_groups|length > 0 %}
        <h2 class="font-splatoon1 text-2xl py-1">Discover</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
            {% for group in random_public_groups %}
                {% include "groups/includes/card.html" with group=group %}
            {% endfor %}
        </div>
    {% endif %}

    {% if pending_invites|length > 0 %}
        <h1 class="text-xl font-splatoon1">Pending Invites</h1>
        <p>
            Some private groups have invited you! You can accept or decline their invites below.
        </p>

        <table class="table-auto border-collapse">
            <thead>
            <tr>
                <th class="border border-slate-200 p-1">Group</th>
                <th class="border border-slate-200 p-1">Accept</th>
                <th class="border border-slate-200 p-1">Decline</th>
            </tr>
            </thead>
            <tbody>
            {% for group in pending_invites %}
                <tr>
                    <td class="border border-slate-200 p-1"><a
                            href="{% url 'groups:view_group' group.id %}">{{ group.name }}</a></td>
                    <td class="border border-slate-200 p-1">
                        <form action="{% url 'groups:answer_group_invite' group.id %}" method="post">
                            {% csrf_token %}
                            <button name="answer" value="accept"
                                    class="p-1 rounded bg-pink-800 hover:bg-pink-900">
                                ✅
                            </button>
                        </form>
                    </td>
                    <td class="border border-slate-200 p-1">
                        <form action="{% url 'groups:answer_group_invite' group.id %}" method="post">
                            {% csrf_token %}
                            <button name="answer" value="deny"
                                    class="p-1 rounded bg-pink-800 hover:bg-pink-900">
                                ❌
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}