{% load static %}
<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button
                        type="button"
                        class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                        aria-controls="mobile-menu"
                        aria-expanded="false"
                        _="on click toggle between .hidden and .block on .mobile-menu">
                    <span class="sr-only">Open main menu</span>
                    <!--
                    Icon when menu is closed.

                    Menu open: "hidden", Menu closed: "block"
                    -->
                    <svg class="block h-6 w-6 mobile-menu" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                    </svg>
                    <!--
                    Icon when menu is open.

                    Menu open: "block", Menu closed: "hidden"
                    -->
                    <svg class="hidden h-6 w-6 mobile-menu" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>
            <div class="flex flex-1 items-center justify-start sm:items-stretch">
                <a href="{% url 'home' %}" class="flex flex-shrink-0 items-center">
                    <img class="block h-8 w-auto lg:hidden"
                         src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
                    <img class="hidden h-8 w-auto lg:block"
                         src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
                </a>
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a href="{% url 'home' %}"
                           class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                           aria-current="page">Home</a>

                        <a href="https://splatoon3.ink/" target="_blank"
                           class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Schedule</a>
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <a href="{% url 'sponsor' %}"
                   class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
                    <img src="{% static 'images/splashcat-sponsor-badge.png' %}" alt="" class="h-6 inline">
                    Sponsor
                </a>

                <button type="button"
                        class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                    <span class="sr-only">View notifications</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                         aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"/>
                    </svg>
                </button>

                {% if user.is_authenticated %}
                    <div class="relative ml-3">
                        <div>
                            <button
                                    _="set :open to false
                                on click
                                  set :open to not :open
                                  log :open
                                  if :open is true
                                    send open to #user-dropdown
                                  otherwise
                                    send close to #user-dropdown"
                                    type="button"
                                    class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                                    id="user-menu-button"
                                    aria-expanded="false"
                                    aria-haspopup="true">
                                <span class="sr-only">Open user menu</span>
                                <img class="h-8 w-8 rounded-full object-cover"
                                     src="{{ user.profile_picture.url }}"
                                     alt="">
                            </button>
                        </div>

                        <!--
                        Dropdown menu, show/hide based on menu state.

                        Entering: "transition ease-out duration-100"
                        From: "transform opacity-0 scale-95"
                        To: "transform opacity-100 scale-100"
                        Leaving: "transition ease-in duration-75"
                        From: "transform opacity-100 scale-100"
                        To: "transform opacity-0 scale-95"
                        -->
                        <div class="hidden right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none transition"
                             role="menu" id="user-dropdown" aria-orientation="vertical"
                             aria-labelledby="user-menu-button" tabindex="-1"
                             _="on open
                                 log 'open'
                                 add .ease-out .duration-100 .opacity-0 .scale-95 .absolute
                                 remove .hidden
                                 wait a tick
                                   add .opacity-100 .scale-100
                                   remove .opacity-0 .scale-95
                                 settle
                                   remove .ease-out .duration-100
                                end

                               on close
                                 log 'close'
                                 add .ease-in .duration-75
                                 wait a tick
                                   remove .opacity-100
                                   add .opacity-0 .scale-95
                                 settle
                                   remove .ease-in .duration-75 .opacity-0 .scale-95 .absolute
                                   add .hidden
                               end">
                            <a class="block px-4 py-2 text-sm text-gray-700" href="{% url 'profile' user.username %}">
                                <span class="text-xs">@{{ user.username }}</span>
                                <br/>
                                Your Profile
                            </a>
                            <a class="block px-4 py-2 text-sm text-gray-700" href="{% url 'users:settings' %}">
                                Settings
                            </a>
                            {% if user.is_staff %}
                                <a class="block px-4 py-2 text-sm text-gray-700" href="{% url 'admin:index' %}">
                                    Admin
                                </a>
                            {% endif %}
                            <form class="form-inline" action="{% url 'users:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="block px-4 py-2 text-sm text-gray-700">Logout</button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <a class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
                       href="{% url 'users:register' %}">Register</a>
                    <a class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
                       href="{% url 'users:login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden hidden mobile-menu">
        <div class="space-y-1 px-2 pt-2 pb-3">
            <a href="{% url 'home' %}"
               class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Home</a>

            <a href="https://splatoon3.ink/" target="_blank"
               class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Schedule</a>

            <a href="{% url 'sponsor' %}"
               class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
                <img src="{% static 'images/splashcat-sponsor-badge.png' %}" alt="" class="h-6 inline">
                Sponsor
            </a>
        </div>
    </div>
</nav>