{% if notifications %}
    <ul class="flex flex-col gap-2">
        {% for notification in notifications %}
            <li class="flex flex-col gap-1 bg-gray-900 rounded-lg px-2 py-1">
                <div class="font-splatoon1 text-md text-white whitespace-nowrap">
                    <a href="{% url 'profile' notification.sender.username %}">{{ notification.sender.display_name }}</a> {{ notification.message }}
                </div>
                <div class="text-sm text-gray-500">
                    {{ notification.created_at|date:"M d, Y H:i" }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="text-gray-400 text-center text-2xl font-bold whitespace-nowrap">No notifications</p>
    <p class="text-lg text-center whitespace-nowrap">You have no new notifications.</p>
{% endif %}