<div class="relative ml-3">
    <div>
        <button
            type="button"
            class="rounded-lg p-1 text-gray-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
            id="notification-bell"
            aria-expanded="false"
            aria-haspopup="true"
            _="set :open to false
               on click
                  set :open to not :open
                  if :open is true
                     send open to #notification-dropdown
                  otherwise
                     send close to #notification-dropdown">
            <span class="sr-only">View notifications</span>
            <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"/>
            </svg>
        </button>
    </div>

    <!-- Notification Dropdown -->
    <div class="hidden absolute right-0 z-30 mt-2 w-128 origin-top-right rounded-lg bg-gray-900 py-2 px-4 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none transition"
         role="menu" id="notification-dropdown" aria-orientation="vertical"
         _="on open
             add .ease-out .duration-100 .opacity-0 .scale-95
             remove .hidden
             wait a tick
               add .opacity-100 .scale-100
               remove .opacity-0 .scale-95
             settle
               remove .ease-out .duration-100
            end

           on close
             add .ease-in .duration-75
             wait a tick
               remove .opacity-100
               add .opacity-0 .scale-95
             settle
               remove .ease-in .duration-75 .opacity-0 .scale-95
               add .hidden
               call markNotificationsAsRead()">
        <!-- Notifications content -->
        <div class="flex flex-col gap-2">
            {% if notifications %}
                <ul class="flex flex-col gap-2">
                    {% for notification in notifications %}
                        <li class="flex flex-col gap-1 bg-gray-900 rounded-lg px-2 py-1">
                            <div class="font-splatoon1 text-md text-white whitespace-nowrap">
                                {{ notification.message }}
                            </div>
                            <div class="text-sm text-gray-500">
                                {{ notification.created_at|date:"M d, Y H:i" }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-gray-400 text-center text-2xl font-bold whitespace-nowrap">No notifications</p>
                <p class="text-lg text-center whitespace-nowrap">You have no new notifications.</p>
            {% endif %}            
        </div>
    </div>
</div>

<script>
    function markNotificationsAsRead() {
        fetch('/mark-as-read/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        }).then(response => {
            if (!response.ok) {
                console.error("Failed to mark notifications as read.");
            }
        }).catch(error => {
            console.error("Error in marking notifications as read:", error);
        });
    }
</script>
