{% load static %}
<a class="group hover:scale-110 card-mask rounded-2xl {% if battle.vs_mode == "BANKARA" %}bg-splatoon-battle-ranked{% elif battle.vs_mode == "X_MATCH" %}bg-splatoon-battle-xmatch{% elif battle.vs_mode == "CHALLENGE" %}bg-splatoon-battle-league{% else %}bg-splatoon-battle-regular{% endif %} battle-card-background transition duration-200 hover:rotate-2 odd:hover:-rotate-2 drop-shadow-lg hover:drop-shadow-2xl {% if battle.judgement != "WIN" %}brightness-[0.80]{% endif %}"
   href="{% url 'battles:view_battle' battle.id %}">
    {% if battle.vs_mode == "FEST" and battle.splatfest_clout_multiplier != "NONE" %}
        {% include "splatnet_assets/squid_tape.html" with bg="bg-purple-600 -rotate-6 left-1 top-1 absolute" content=battle.get_splatfest_clout_multiplier_display %}
    {% endif %}

    <div class="text-xl float-right p-1">{{ battle.played_time|date:"SHORT_DATE_FORMAT" }}</div>
    <div class="bg-black/50 mt-8 p-2 h-full">
        <div class="text-lg float-right">{{ battle.vs_stage.name.string }}</div>
        <div class="font-splatoon1 text-2xl {% if battle.judgement == "WIN" %}text-yellow-200{% else %}text-gray-300{% endif %}">
            {{ battle.get_short_judgement_display }}
        </div>
        <div>
            {{ battle.get_vs_mode_display }}

            {% if battle.power is not None %}
                <span class="text-base">
                    (Power: {{ battle.power|floatformat:1 }})
                </span>
            {% endif %}
        </div>
        <div class="text-lg">
            {% with image_name=battle.get_vs_rule_image_name|lower %}
                <img src="{% static 'images/rule-icons/'|add:image_name|add:'.svg' %}"
                     class="inline-block h-8 w-8" alt="">
            {% endwith %}
            {{ battle.get_vs_rule_display }}
        </div>
        <div class="text-lg">
            {% with player=battle.player %}
                <img src="{{ player.weapon.flat_image.url }}?height=80&width=80" class="inline-block h-10 w-10" alt="">
                {{ player.weapon.name.string }}
                {% include "splatnet_assets/mask_image.html" with object=player.weapon.sub class="inline h-6 w-6" uploader=battle.uploader image_params="height=48&width=48" %}
                {% include "splatnet_assets/mask_image.html" with object=player.weapon.special class="inline h-6 w-6" uploader=battle.uploader image_params="height=48&width=48" %}
            {% endwith %}
        </div>
        {% if display_uploader is True %}
            {% with uploader=battle.uploader %}
                <div class="flex flex-row gap-1 items-center my-0.5 w-fit">
                    {% if uploader.profile_picture %}
                        <img src="{{ battle.uploader.profile_picture.url }}?optimizer=image&height=96&width=96"
                             alt="{{ battle.uploader.display_name }}"
                             class="h-12 w-12 group-hover:scale-110 transition object-cover rounded-lg"
                             height="96" width="96">
                    {% endif %}
                    <div class="flex flex-col">
                        <div class="text-xl">
                            {{ battle.uploader.display_name }}
                            {% if battle.uploader.display_sponsor_badge %}
                                <img src="{% static 'images/splashcat-sponsor-badge.png' %}?format=png"
                                     alt="Splashcat Sponsor"
                                     class="h-6 w-6 inline-block [image-rendering:pixelated]" height="16" width="16">
                            {% endif %}
                        </div>
                        <div class="text-sm text-gray-400 h-0 scale-y-0 group-hover:scale-y-100 transition">
                            @{{ battle.uploader.username }}</div>
                    </div>
                </div>
            {% endwith %}
        {% endif %}
    </div>
</a>