{% if profile.page_background.url and "page-backgrounds" in profile.entitlements %}
    <div id="page-background"></div>
    <style>
        #page-background {
            background-image: url({{ profile.page_background.url }});
            background-size: cover;
            background-repeat: no-repeat;
            filter: brightness(35%);
            width: 100vw;
            height: 100lvh;
            z-index: -1000;
            position: fixed;
            left: 0;
            top: 0;
        }
    </style>
{% endif %}