{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

    <h1 class="font-splatoon1 text-3xl">Login</h1>

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'users:login' %}" class="form-css">
        {% csrf_token %}
        {{ form.as_div }}

        <input type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    {# Assumes you set up the password_reset view in your URLconf #}
    <p><a href="{% url 'users:password_reset' %}">Lost password?</a></p>

{% endblock %}