{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}

    <h1 class="font-splatoon1 text-3xl">Change Password</h1>

    {% if form.errors %}
        <p>Your old password was entered incorrectly. Please enter it again.</p>
    {% endif %}

    <form method="post" action="{% url 'password_change' %}" class="form-css">
        {% csrf_token %}
        {{ form.as_div }}

        <input type="submit" value="Change">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

{% endblock %}