{% extends "base.html" %}

{% block title %}Reset password{% endblock %}

{% block content %}

    <h1 class="font-splatoon1 text-3xl">Reset password</h1>

    {% if form.errors %}
        <p>Invalid email address. Please try again.</p>
    {% endif %}

    {% if email_sent %}
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.</p>
        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check
            your spam folder.</p>
    {% else %}
        <p>Please enter your email address and we'll send you instructions on how to reset your password.</p>
    {% endif %}

    <form method="post" action="{% url 'users:password_reset' %}" class="form-css">
        {% csrf_token %}
        {{ form.as_div }}

        <input type="submit" value="Change">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

{% endblock %}