{% load static %}
<div class="card-mask bg-splatoon-battle-league p-4 pt-12 rounded-lg rotate-1">
    {% if profile.profile_picture and profile.profile_cover %}
        <div class="w-full relative pb-12 h-fit">
            <img src="{{ profile.profile_cover.url }}?width=512"
                 alt="{{ profile.display_name }}'s profile cover"
                 class="w-full object-cover rounded">
            <img src="{{ profile.profile_picture.url }}?width=256"
                 alt="{{ profile.display_name }}'s profile picture"
                 class="aspect-square w-1/3 object-cover rounded-xl shadow-2xl bottom-0 left-1/2 absolute -translate-x-1/2">
        </div>
    {% elif profile.profile_picture %}
        <img src="{{ profile.profile_picture.url }}?width=512"
             alt="{{ profile.display_name }}'s profile picture"
             class="aspect-square max-w-full object-contain rounded-sm bg-gray-500/50">
    {% endif %}
    <h1 class="text-2xl">
        <a href="{% url 'profile' profile.username %}">
            {{ profile.display_name }}
        </a>
        {% if profile.display_sponsor_badge %}
            <a href="{% url 'sponsor' %}">
                <img src="{% static 'images/splashcat-sponsor-badge.png' %}?format=png" alt="Splashcat Sponsor"
                     class="h-6 inline-block [image-rendering:pixelated]">
            </a>
        {% endif %}
    </h1>
    <a href="{% url 'profile' profile.username %}">
        <p class="text-lg text-gray-300">@{{ profile.username }}</p>
    </a>

    {% if profile.has_mastodon_account %}
        <div class="pt-4 pb-2">
            <a href="https://splashcat.social/@{{ profile.username }}" target="_blank"
               class="bg-purple-600 hover:bg-purple-700 rounded p-2 pr-3 whitespace-nowrap" rel="me noopener">
                <img src="{% static 'images/fediverse-logo.svg' %}" alt="Fediverse logo" class="h-6 w-6 inline-block"
                     height="16" width="16">
                @{{ profile.username }}@splashcat.social
            </a>
        </div>
    {% endif %}

    {% if profile.preferred_pronouns %}
        <div class="pt-4 pb-2">
           <span class="bg-pink-700 rounded pl-2 py-0.5 pr-3 shadow">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                    class="w-6 h-6 inline-block">
                  <path d="M10 8a3 3 0 100-6 3 3 0 000 6zM3.465 14.493a1.23 1.23 0 00.41 1.412A9.957 9.957 0 0010 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 00-13.074.003z"></path>
                </svg>
               {{ profile.preferred_pronouns }}
            </span>
        </div>
    {% endif %}

    {% if profile.coral_friend_code %}
        <div class="group relative block">
            <a href="{{ profile.coral_friend_url }}" class="block hover:underline" rel="noopener noreferrer">
                <svg class="w-5 h-5 inline" xmlns="http://www.w3.org/2000/svg"
                     width="550.000000pt" height="550.000000pt" viewBox="0 0 550.000000 550.000000"
                     preserveAspectRatio="xMidYMid meet">
                    <metadata>
                        Created by potrace 1.13, written by Peter Selinger 2001-2015
                    </metadata>
                    <g transform="translate(0.000000,550.000000) scale(0.100000,-0.100000)"
                       fill="currentColor" stroke="none">
                        <path d="M1365 5154 c-481 -86 -868 -442 -990 -910 -44 -169 -47 -268 -42 -1579 3 -1204 4 -1232 24 -1325 111 -501 467 -858 973 -976 66 -15 150 -18 691 -21 560 -4 618 -3 633 12 15 15 16 208 16 2396 0 1622 -3 2386 -10 2400 -10 18 -27 19 -613 18 -476 -1 -619 -4 -682 -15z m905 -2400 l0 -2026 -407 5 c-375 4 -415 6 -490 25 -322 83 -561 331 -628 654 -22 101 -22 2589 -1 2688 60 281 255 514 518 619 132 53 193 59 621 60 l387 1 0 -2026z"></path>
                        <path d="M1451 4169 c-63 -12 -159 -60 -210 -105 -105 -91 -157 -220 -149 -372 4 -79 9 -100 41 -164 47 -97 118 -168 215 -216 67 -33 84 -37 171 -40 79 -3 107 0 160 18 217 73 348 284 311 500 -43 257 -287 429 -539 379z"></path>
                        <path d="M3157 5163 c-4 -3 -7 -1087 -7 -2409 0 -2181 1 -2402 16 -2408 27 -10 803 -6 899 4 406 46 764 293 959 660 25 47 58 126 75 175 63 188 61 138 61 1575 0 1147 -2 1318 -16 1391 -99 521 -496 914 -1018 1004 -70 12 -178 15 -526 15 -240 0 -440 -3 -443 -7z m1068 -2178 c156 -41 284 -160 336 -312 33 -94 32 -232 -1 -318 -61 -158 -181 -269 -335 -310 -250 -65 -516 86 -589 334 -22 76 -21 204 4 282 75 245 335 389 585 324z"></path>
                    </g>
                </svg>
                SW-{{ profile.coral_friend_code }}
            </a>
            <div class="p-4 bg-gray-700 hidden group-hover:block bottom-full left-1 absolute rounded-lg w-fit max-w[80vw] whitespace-nowrap z-10 shadow-lg">
                <img src="https://cdn.splashcat.ink/users/coral/friendcode/qr/{{ profile.username }}/?friend-code={{ profile.coral_friend_code }}&optimizer=image&width=256&height=256"
                     alt="Nintendo Switch Friend Code QR Code" class="w-auto h-48 rounded-lg" loading="lazy"
                     width="256" height="256">
            </div>
        </div>
    {% endif %}

    {% for link in profile.profile_urls.all %}
        <a href="{{ link.url }}" class="block hover:underline" rel="me ugc">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 inline">
                <path d="M12.232 4.232a2.5 2.5 0 013.536 3.536l-1.225 1.224a.75.75 0 001.061 1.06l1.224-1.224a4 4 0 00-5.656-5.656l-3 3a4 4 0 00.225 5.865.75.75 0 00.977-1.138 2.5 2.5 0 01-.142-3.667l3-3z"></path>
                <path d="M11.603 7.963a.75.75 0 00-.977 1.138 2.5 2.5 0 01.142 3.667l-3 3a2.5 2.5 0 01-3.536-3.536l1.225-1.224a.75.75 0 00-1.061-1.06l-1.224 1.224a4 4 0 105.656 5.656l3-3a4 4 0 00-.225-5.865z"></path>
            </svg>
            <span class="overflow-ellipsis max-w-[20ch]">{{ link.url }}</span>
            {% if link.is_rel_me_verified %}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                     class="w-5 h-5 fill-purple-600 inline">
                    <path fill-rule="evenodd"
                          d="M16.403 12.652a3 3 0 000-5.304 3 3 0 00-3.75-3.751 3 3 0 00-5.305 0 3 3 0 00-3.751 3.75 3 3 0 000 5.305 3 3 0 003.75 3.751 3 3 0 005.305 0 3 3 0 003.751-3.75zm-2.546-4.46a.75.75 0 00-1.214-.883l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                          clip-rule="evenodd"></path>
                </svg>
            {% endif %}
        </a>
    {% endfor %}
    {% with npln_id=profile.get_npln_id %}
        {% if npln_id %}
            <a href="https://splat.top/player/{{ npln_id }}" class="block hover:underline" rel="noopener">
                Search on splat.top
            </a>
        {% endif %}
    {% endwith %}
</div>

<p>
    {% if profile_user.following.count > 0 %}
        <a href="{% url 'profile_following' profile_user.username %}">{{ profile_user.following.count }} following</a>
    {% else %}
        {{ profile_user.following.count }} following
    {% endif %}
    |
    {% if profile_user.followers.count > 0 %}
        <a href="{% url 'profile_followers' profile_user.username %}">{{ profile_user.followers.count }} {{ profile_user.followers.count|pluralize:"follower,followers" }}</a>
    {% else %}
        {{ profile_user.followers.count }} {{ profile_user.followers.count|pluralize:"follower,followers" }}
    {% endif %}
</p>

{% if user != profile %}
    {% if is_following %}
        <form action="{% url 'unfollow_user' profile.username %}" method="post">
            {% csrf_token %}
            <button type="submit">Unfollow</button>
        </form>
    {% else %}
        <form action="{% url 'follow_user' profile.username %}" method="post">
            {% csrf_token %}
            <button type="submit">Follow</button>
        </form>
    {% endif %}
{% endif %}
{% if splashtag %}
    <div class="-rotate-[0.5deg] shadow-lg w-fit">
        {% include "includes/splashtag.html" with splashtag=splashtag only %}
    </div>
{% endif %}

{% if user.is_staff %}
    <a href="{% url 'admin:users_user_change' profile.id %}"
       class="bg-red-700 p-2 rounded w-fit">Admin</a>
{% endif %}