{% load static %}
<div class="card-mask bg-splatoon-battle-league p-4 pt-12 rounded-lg rotate-1">
    {% if profile.profile_picture %}
        <img src="{{ profile.profile_picture.url }}?width=512"
             alt="{{ profile.display_name }}'s profile picture"
             class="aspect-square max-w-full object-contain rounded-sm bg-gray-500/50">
    {% endif %}
    <h1 class="text-2xl">
        {{ profile.display_name }}
        {% if profile.display_sponsor_badge %}
            <a href="{% url 'sponsor' %}">
                <img src="{% static 'images/splashcat-sponsor-badge.png' %}?format=png" alt="Splashcat Sponsor"
                     class="h-6 inline-block [image-rendering:pixelated]">
            </a>
        {% endif %}
    </h1>
    <p class="text-lg text-gray-300">@{{ profile.username }}</p>

    {% if profile.has_mastodon_account %}
        <div class="pt-4 pb-2">
            <a href="https://splashcat.social/@{{ profile.username }}" target="_blank"
               class="bg-purple-600 hover:bg-purple-700 rounded p-2 pr-3 whitespace-nowrap" rel="me noopener">
                <img src="{% static 'images/fediverse-logo.svg' %}" alt="Fediverse logo" class="h-6 w-6 inline-block"
                     height="16" width="16">
                @{{ profile.username }}@splashcat.social
            </a>
        </div>
    {% endif %}

    {% if profile.preferred_pronouns %}
        <div class="pt-4 pb-2">
           <span class="bg-pink-700 rounded pl-2 py-0.5 pr-3 shadow">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                    class="w-6 h-6 inline-block">
                  <path d="M10 8a3 3 0 100-6 3 3 0 000 6zM3.465 14.493a1.23 1.23 0 00.41 1.412A9.957 9.957 0 0010 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 00-13.074.003z"></path>
                </svg>
               {{ profile.preferred_pronouns }}
            </span>
        </div>
    {% endif %}

    {% for link in profile.profile_urls.all %}
        <a href="{{ link.url }}" class="block hover:underline" rel="me ugc">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 inline">
                <path d="M12.232 4.232a2.5 2.5 0 013.536 3.536l-1.225 1.224a.75.75 0 001.061 1.06l1.224-1.224a4 4 0 00-5.656-5.656l-3 3a4 4 0 00.225 5.865.75.75 0 00.977-1.138 2.5 2.5 0 01-.142-3.667l3-3z"></path>
                <path d="M11.603 7.963a.75.75 0 00-.977 1.138 2.5 2.5 0 01.142 3.667l-3 3a2.5 2.5 0 01-3.536-3.536l1.225-1.224a.75.75 0 00-1.061-1.06l-1.224 1.224a4 4 0 105.656 5.656l3-3a4 4 0 00-.225-5.865z"></path>
            </svg>
            <span class="overflow-ellipsis max-w-[20ch]">{{ link.url }}</span>
            {% if link.is_rel_me_verified %}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                     class="w-5 h-5 fill-purple-600 inline">
                    <path fill-rule="evenodd"
                          d="M16.403 12.652a3 3 0 000-5.304 3 3 0 00-3.75-3.751 3 3 0 00-5.305 0 3 3 0 00-3.751 3.75 3 3 0 000 5.305 3 3 0 003.75 3.751 3 3 0 005.305 0 3 3 0 003.751-3.75zm-2.546-4.46a.75.75 0 00-1.214-.883l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                          clip-rule="evenodd"></path>
                </svg>
            {% endif %}
        </a>
    {% endfor %}
</div>
{% if splashtag %}
    <div class="-rotate-[0.5deg] shadow-lg w-fit">
        {% include "includes/splashtag.html" with splashtag=splashtag only %}
    </div>
{% endif %}
{% if user.is_staff %}
    <a href="{% url 'admin:users_user_change' profile.id %}"
       class="bg-red-700 p-2 rounded w-fit">Admin</a>
{% endif %}