{% extends "base.html" %}

{% load static %}

{% block title %}
    {{ profile_user.display_name }} (@{{ profile_user.username }})
{% endblock %}

{% block content %}
    <div class="flex flex-col md:flex-row gap-4">
        <div class="basis-2/5 xl:basis-1/4 flex flex-col gap-2">
            {% include 'users/profile_sidebar.html' with profile=profile_user %}
        </div>

        <div class="flex grow flex-col gap-2">
            <div class="flex flex-row flex-wrap divide-x-2 divide-gray-500 gap-y-2">
                <div class="px-4">
                    <div class="text-lg">Victories</div>
                    <div class="text-2xl">{{ win_count }}</div>
                </div>
                <div class="px-4">
                    <div class="text-lg">Defeats</div>
                    <div class="text-2xl">{{ lose_count }}</div>
                </div>
                <div class="px-4">
                    <div class="text-lg">Win Rate</div>
                    <div class="text-2xl">{{ win_rate|floatformat:1 }}%</div>
                </div>
                <div class="px-4">
                    <div class="text-lg">Average Kills</div>
                    <div class="text-2xl">
                        {{ aggregates.average_kills|default:0|floatformat:1 }}
                        <span class="text-lg mt-1">({{ aggregates.average_assists|default:0|floatformat:1 }})</span>
                    </div>
                </div>
                <div class="px-4">
                    <div class="text-lg">Average Deaths</div>
                    <div class="text-2xl">{{ aggregates.average_deaths|default:0|floatformat:1 }}</div>
                </div>
                <div class="px-4">
                    <div class="text-lg">Average Turfed</div>
                    <div class="text-2xl">{{ aggregates.average_paint|default:0|floatformat:1 }}</div>
                </div>
                <div class="px-4">
                    <div class="text-lg">Favorite Weapon</div>
                    <div class="text-2xl">{{ most_used_weapon.name.string|default:"" }}</div>
                </div>
            </div>

            <div class="flex flex-row">
                <h2 class="text-3xl font-splatoon1">Latest Battles</h2>
                <div class="grow"></div>
                {% if latest_battles|length == 0 %}
                    <span class="text-lg bg-pink-950 cursor-not-allowed p-2 rounded">View All</span>
                {% else %}
                    <a href="{% url 'profile_battles_list' profile_user.username %}"
                       class="text-lg bg-pink-600 hover:bg-pink-700 p-2 rounded">View All</a>
                {% endif %}
            </div>

            {% if latest_battles|length == 0 %}
                <div class="flex flex-col gap-2 items-center">
                    <div class="text-2xl font-splatoon1">{% if profile_user == user %}Upload some battles!{% else %}No
                        battles{% endif %}</div>
                    <p class="text-lg max-w-prose text-center">
                        Looks like {% if profile_user == user %}you haven't{% else %}{{ profile_user.display_name }}
                        hasn't{% endif %} uploaded any battles yet.
                        {% if profile_user == user %}
                            <a href="" class="text-blue-500 underline">Use an exporter to download data from SplatNet 3
                                and
                                send it to Splashcat!</a>
                        {% endif %}
                    </p>
                </div>
            {% else %}
                <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
                    {% for battle in latest_battles %}
                        {% include "users/includes/battle-card.html" with battle=battle %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}