{% extends "base.html" %}

{% block title %}
    Settings
{% endblock %}

{% block content %}
    <div class="flex flex-row gap-4">
        <h1 class="text-3xl font-splatoon1 mb-2">
            Settings
        </h1>
        <form action="{% url 'users:request_data_export' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Request Data Export" class="p-4 bg-pink-600 hover:bg-pink-700 rounded">
        </form>
    </div>

    <div class="grid gap-4 grid-cols-1 md:grid-cols-2">
        <div>
            {{ form.non_field_errors }}

            <form class="form-css form-div-cards" method="post" action="{% url "users:settings" %}"
                  enctype="multipart/form-data">
                {% csrf_token %}

                <div>
                    {{ form.display_name.errors }}
                    <label class="text-xl" for="{{ form.display_name.id_for_label }}">Display Name</label>
                    {{ form.display_name }}
                </div>

                <div>
                    {{ form.profile_picture.errors }}
                    <label class="text-xl" for="{{ form.profile_picture.id_for_label }}">Profile Picture</label>
                    {{ form.profile_picture }}
                </div>

                <div>
                    {{ form.saved_favorite_color.errors }}
                    <label class="text-xl" for="{{ form.saved_favorite_color.id_for_label }}">Favorite Color</label>
                    <p class="text-lg max-w-sm">
                        Sub and special weapon icons will use this color on your profile and elsewhere on Splashcat.
                    </p>
                    {{ form.saved_favorite_color }}
                    {% if not user.github_link.is_sponsor %}
                        <div class="w-72"></div>
                        <div class="w-full h-full flex flex-col absolute left-0 top-0 items-center bg-black/50 pt-10 p-6">
                            <a class="text-center text-gray-200 text-lg" href="{% url 'sponsor' %}">
                                Become a sponsor to change your favorite color.
                            </a>
                        </div>
                    {% endif %}
                </div>

                <div>
                    {{ form.x_battle_division.errors }}
                    <label class="text-xl" for="{{ form.x_battle_division.id_for_label }}">X Battle Division</label>
                    <p class="text-lg">
                        The Takoroka Division is for players from Japan, Hong Kong, South Korea, Australia, and New
                        Zealand.</p>
                    <p class="text-lg">
                        The Tentatek Division is for players from the Americas and Europe.
                    </p>
                    {{ form.x_battle_division }}
                </div>

                <div>
                    {{ form.coral_friend_url.errors }}
                    <label class="text-xl" for="{{ form.coral_friend_url.id_for_label }}">Nintendo Switch Friend
                        URL</label>
                    <p>Get this link from the Nintendo Switch Online app. This link and your friend code are shown on your profile.</p>
                    {{ form.coral_friend_url }}
                </div>

                <div>
                    {{ form.preferred_pronouns.errors }}
                    <label class="text-xl" for="{{ form.preferred_pronouns.id_for_label }}">Preferred Pronouns</label>
                    <p>Used for AI Battle Descriptions and shown on your profile.</p>
                    {{ form.preferred_pronouns }}
                </div>

                <div>
                    {% for error in formset.errors %}
                        {{ error }}
                    {% endfor %}
                    <label class="text-xl">Profile URLs</label>
                    <p>Link to accounts on other platforms. Links will have <code class="font-mono">`rel="me"`</code>
                        added.</p>
                    {{ formset.as_div }}
                </div>

                <input type="submit" value="Update">
            </form>
        </div>

        <div class="form-div-cards">
            <div>
                <h1 class="text-xl font-splatoon1">GitHub Sponsors</h1>
                <p>
                    Sponsors on GitHub can link their GitHub account to Splashcat to receive special features.
                </p>

                {% if user.github_link.github_id %}
                    <div class="p-2 my-2 rounded backdrop-blur-lg bg-slate-900/40">
                        Your Splashcat account is linked to
                        <a href="https://github.com/{{ user.github_link.github_username }}"
                           class="underline text-blue-500">
                            @{{ user.github_link.github_username }}
                        </a>
                        on GitHub.
                    </div>
                {% endif %}

                <form action="{% url 'users:link_github_account' %}" method="post" class="form-css flex flex-row gap-4">
                    {% csrf_token %}
                    <input
                            type="submit"
                            value="{% if user.github_link.github_id %}Relink GitHub Account{% else %}Link GitHub Account{% endif %}"
                    >

                    {% if user.github_link.github_id %}
                        <button name="is_refresh" value="true" class="p-4 rounded bg-pink-600 hover:bg-pink-700"
                                _="on click remove .animate-none from the <svg/> in me"
                        >
                            {% include "splatnet_assets/squid_spinner.html" with class="h-6 w-6 inline-block animate-[spin_2s_linear_infinite] animate-none" %}
                            Refresh Sponsorship
                        </button>
                    {% endif %}
                </form>
            </div>

            <div>
                <h1 class="text-xl font-splatoon1">API Keys</h1>
                <p>
                    Create API keys to upload data to Splashcat.
                </p>
                <form action="{% url 'users:create_api_key' %}" method="post" class="form-css">
                    {% csrf_token %}
                    <input type="text" name="note" placeholder="Note">
                    <input type="submit" value="Create API Key">
                </form>

                <table class="w-max table-auto border-collapse">
                    <thead>
                    <tr>
                        <th class="border border-slate-200 p-1">Key</th>
                        <th class="border border-slate-200 p-1">Note</th>
                        <th class="border border-slate-200 p-1">Created</th>
                        <th class="border border-slate-200 p-1">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for api_key in user.api_keys.all %}
                        <tr>
                            <td class="border border-slate-200 p-1 font-mono">{{ api_key.key }}</td>
                            <td class="border border-slate-200 p-1">{{ api_key.note }}</td>
                            <td class="border border-slate-200 p-1">{{ api_key.created }}</td>
                            <td class="border border-slate-200 p-1">
                                <form action="{% url 'users:delete_api_key' api_key.key %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="❌">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}