{% load i18n %}
{% load static %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Splashcat</title>
    <link rel="preconnect" href="https://cdn.splashcat.ink">
    <link rel="dns-prefetch" href="https://cdn.splashcat.ink">
    <link rel="preload" as="script" href="{% static 'js/index.js' %}">
    <link rel="preload" href="{% static 'fonts/splatnet3/Splatoon1-common.woff2' %}" as="font" type="font/woff2"
          crossorigin>
    <link rel="preload" href="{% static 'fonts/splatnet3/Splatoon2-common.woff2' %}" as="font" type="font/woff2"
          crossorigin>
    <link rel="preload" href="{% static 'images/tapes-transparent.png' %}" as="image" fetchpriority="high">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="darkreader-lock">
    <meta name="description"
          content="{% block description %}Splashcat is an award-winning service that records battle data for later analysis.{% endblock %}">
    <meta name="keywords" content="splashcat,splatoon,battle,stats,statistics">
    <link rel="canonical" href="https://splashcat.ink{{ request.get_full_path }}"/>
    <link rel="icon" href="{% static 'images/judd-pride.png' %}?height=256"/>
    <link rel="webmention" href="https://webmention.io/catgirlin.space/webmention"/>
    <link rel="pingback" href="https://webmention.io/catgirlin.space/xmlrpc"/>

    <script src="{% static 'js/index.js' %}" defer></script>
    {% django_htmx_script %}

    <script defer
            data-domain="splashcat.ink"
            event-user_type="{% if user.is_authenticated and user.github_link.is_sponsor %}sponsor{% elif user.is_authenticated %}user{% else %}guest{% endif %}"
            {% if share_query_param is not None %}event-share="{{ share_query_param }}"{% endif %}
            src="https://plausible.io/js/script.tagged-events.pageview-props.outbound-links.js"></script>
    <script>
		window.plausible = window.plausible || function () {
			(window.plausible.q = window.plausible.q || []).push(arguments)
		}
    </script>

    <meta property="og:type" content="website">
    <meta property="twitter:site" content="@Splashcatink">
    {% block opengraph_head %}
    {% endblock %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
{% csrf_token %}
<header>
    {% include 'includes/navbar.html' %}
</header>

<div class="container">
    {% if messages %}
        <div class="flex flex-col gap-2 py-2">
            {% for message in messages %}
                <div class="p-2 bg-purple-800 rounded
                        {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <main role="main" class="py-3">
        {% block content %}{% endblock %}
    </main>
</div>

<footer class="border-top footer text-muted bg-gray-800/70 py-4">
    <div class="container">
        <img src="{% static 'images/judd-pride.png' %}?height=256" alt="Judd with a LGBTQ and transgender pride flag"
             class="float-right h-32 w-auto" height="2048" width="2048" loading="lazy">
        <div class="text-lg">Splashcat</div>
        <div class="text-sm">This website is not affiliated with Nintendo. All product names, logos, and brands are
            property of their respective owners.
        </div>
        <a href="{% url 'uploaders_information' %}" class="text-blue-500 underline p-2 pl-0">Information on Available
            Uploaders</a>
        <a href="{% url 'legal' %}" class="text-blue-500 underline p-2">Legal Stuff</a>
        <a href="{% url 'about' %}" class="text-blue-500 underline p-2">About Splashcat</a>
        <div class="py-4 flex flex-row flex-wrap gap-4">
            <a href="https://github.com/splashcat-ink/splashcat"
               class="bg-purple-600 hover:bg-purple-700 rounded p-4 my-auto">GitHub</a>
            <a href="https://discord.gg/JPFwvbSWMS"
               class="bg-purple-600 hover:bg-purple-700 rounded p-4 my-auto">Discord</a>
            <a href="https://splashcat.social/@splashcat"
               class="bg-purple-600 hover:bg-purple-700 rounded p-4 my-auto" rel="me">
                <img src="{% static 'images/fediverse-logo.svg' %}" alt="Fediverse logo" class="h-6 w-6 inline-block"
                     height="16" width="16">
                @splashcat@splashcat.social
            </a>
        </div>
    </div>
</footer>
</body>
</html>
