@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Splatoon2, ui-sans-serif, system-ui, sans-serif;
    }

    body {
        @apply bg-gray-900;
        @apply text-purple-100;
        background-image: url("/static/images/information-bg.jpg");
        background-size: 600px;
    }
}

@layer components {
    .card-mask {
        mask-image: url("/static/images/card-mask.svg");
        mask-repeat: no-repeat;
        mask-position: top;
        mask-size: 2000px auto;
    }

    .battle-card-background {
        background-image: url("/static/images/tapes-transparent.png");
        background-size: contain;
        filter: brightness(50%);
    }

    .battle-players-table th, .battle-players-table td {
        @apply border;
        @apply border-gray-500;
        @apply p-0.5;
        @apply sm:p-1;
        @apply whitespace-nowrap;
    }

    input[disabled] {
        @apply cursor-not-allowed;
    }

    input[hidden] {
        @apply hidden;
    }

    .form-css * {
        @apply mb-2;
    }

    .form-css *:last-child {
        @apply mb-0;
    }

    .form-css label {
        @apply block;
    }

    .form-css input {
        @apply block;
        @apply w-full;
        @apply sm:w-1/2;
        @apply md:w-1/3;
        @apply min-w-fit;
        @apply bg-gray-800;
        @apply border-gray-500;
        @apply border;
        @apply rounded;
        @apply p-1;
        @apply sm:p-2;
        @apply text-purple-100;
        @apply focus:outline-none;
        @apply focus:ring;
        @apply focus:ring-pink-500;
    }

    .form-css input[type=checkbox] {
        @apply w-auto;
    }

    .form-css input[hidden] {
        @apply hidden;
    }

    .form-css input[type=submit] {
        @apply bg-pink-600;
        @apply hover:bg-pink-700;
        @apply text-purple-100;
        @apply font-bold;
        @apply cursor-pointer;
        @apply rounded-lg;
        @apply p-1;
    }

    .form-css input[type=color] {
        @apply cursor-pointer;
        @apply rounded-lg;
        @apply p-1;
        @apply h-16;
        @apply w-32;
    }

    .form-css .helptext {
        @apply text-sm;
        @apply text-gray-300;
    }

    .form-css .helptext ul {
        @apply list-disc;
        @apply list-inside;
    }

    .form-div-cards > div {
        @apply rounded-lg;
        @apply p-4;
        @apply card-mask;
        @apply pt-6;
        background-image: url("/static/images/tapes-transparent.png");
        background-size: 300px;
        @apply bg-purple-800;
        @apply mb-6;
        @apply even:rotate-1;
        @apply odd:-rotate-1;
        @apply w-fit;
    }

    .squid-tape-tl {
        mask-image: url("/static/squid_tape/tl.svg");
        mask-repeat: no-repeat;
        mask-size: contain;
        width: 10px;
        height: 10px;
        @apply bg-white;
    }

    .squid-tape-br {
        mask-image: url("/static/squid_tape/br.svg");
        mask-repeat: no-repeat;
        mask-size: contain;
        width: 10px;
        height: 10px;
        @apply bg-white;
    }

    .squid-tape-label {
        --squid-size: 10px;
        clip-path: polygon(
                -5px var(--squid-size),
                var(--squid-size) var(--squid-size),
                var(--squid-size) -5px,
                100% -5px,
                100% calc(100% - var(--squid-size)),
                calc(100% - var(--squid-size)) calc(100% - var(--squid-size)),
                calc(100% - var(--squid-size)) calc(100% + var(--squid-size)),
                0 calc(100% + var(--squid-size))
        );
        padding-left: var(--squid-size);
        padding-right: var(--squid-size);
    }
}

@font-face {
    font-family: Splatoon1;
    src: url("/static/fonts/splatnet3/Splatoon1-cjk-common.woff2");
    font-display: swap;
    unicode-range: U+4E00-9FFF, U+3000-303F, U+FF00-FFEF;
}

@font-face {
    font-family: Splatoon1;
    src: url("/static/fonts/splatnet3/Splatoon1-common.woff2");
    font-display: swap;
}

@font-face {
    font-family: Splatoon1;
    src: url("/static/fonts/splatnet3/Splatoon1-symbol-common.woff2");
    font-display: swap;
    unicode-range: U+20A0-20CF, U+2100-214F, U+22??, U+23??, U+25A0-25FF, U+26??, U+FB00-FB4F;
}

@font-face {
    font-family: Splatoon1;
    src: url("/static/fonts/splatnet3/Splatoon1CHzh-level1.woff2");
    font-display: swap;
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: Splatoon1;
    src: url("/static/fonts/splatnet3/Splatoon1CHzh-level2.woff2");
    font-display: swap;
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: Splatoon1;
    src: url("/static/fonts/splatnet3/Splatoon1JP-hiragana-katakana.woff2");
    font-display: swap;
    unicode-range: U+3040-30FF;
}

@font-face {
    font-family: Splatoon1;
    src: url("/static/fonts/splatnet3/Splatoon1JP-level1.woff2");
    font-display: swap;
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: Splatoon1;
    src: url("/static/fonts/splatnet3/Splatoon1JP-level2.woff2");
    font-display: swap;
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: Splatoon1;
    src: url("/static/fonts/splatnet3/Splatoon1KRko-level1.woff2");
    font-display: swap;
    unicode-range: U+AC00-D7AF;
}

@font-face {
    font-family: Splatoon1;
    src: url("/static/fonts/splatnet3/Splatoon1KRko-level2.woff2");
    font-display: swap;
    unicode-range: U+AC00-D7AF;
}

@font-face {
    font-family: Splatoon1;
    src: url("/static/fonts/splatnet3/Splatoon1TWzh-level1.woff2");
    font-display: swap;
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: Splatoon1;
    src: url("/static/fonts/splatnet3/Splatoon1TWzh-level2.woff2");
    font-display: swap;
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: Splatoon2;
    src: url("/static/fonts/splatnet3/Splatoon2-cjk-common.woff2");
    font-display: swap;
    unicode-range: U+4E00-9FFF, U+3000-303F, U+FF00-FFEF;
}

@font-face {
    font-family: Splatoon2;
    src: url("/static/fonts/splatnet3/Splatoon2-common.woff2");
    font-display: swap;
}

@font-face {
    font-family: Splatoon2;
    src: url("/static/fonts/splatnet3/Splatoon2-symbol-common.woff2");
    font-display: swap;
    unicode-range: U+20A0-20CF, U+2100-214F, U+22??, U+23??, U+25A0-25FF, U+26??, U+FB00-FB4F;
}

@font-face {
    font-family: Splatoon2;
    src: url("/static/fonts/splatnet3/Splatoon2CHzh-level1.woff2");
    font-display: swap;
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: Splatoon2;
    src: url("/static/fonts/splatnet3/Splatoon2CHzh-level2.woff2");
    font-display: swap;
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: Splatoon2;
    src: url("/static/fonts/splatnet3/Splatoon2JP-hiragana-katakana.woff2");
    font-display: swap;
    unicode-range: U+3040-30FF;
}

@font-face {
    font-family: Splatoon2;
    src: url("/static/fonts/splatnet3/Splatoon2JP-level1.woff2");
    font-display: swap;
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: Splatoon2;
    src: url("/static/fonts/splatnet3/Splatoon2JP-level2.woff2");
    font-display: swap;
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: Splatoon2;
    src: url("/static/fonts/splatnet3/Splatoon2KRko-level1.woff2");
    font-display: swap;
    unicode-range: U+AC00-D7AF;
}

@font-face {
    font-family: Splatoon2;
    src: url("/static/fonts/splatnet3/Splatoon2KRko-level2.woff2");
    font-display: swap;
    unicode-range: U+AC00-D7AF;
}

@font-face {
    font-family: Splatoon2;
    src: url("/static/fonts/splatnet3/Splatoon2TWzh-level1.woff2");
    font-display: swap;
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: Splatoon2;
    src: url("/static/fonts/splatnet3/Splatoon2TWzh-level2.woff2");
    font-display: swap;
    unicode-range: U+4E00-9FFF;
}