{% extends "opengraph.html" %}
{% load static %}

{% block content %}
    <div class="w-[1200px] h-[630px] relative">
        <img src="{% static 'images/dark-bg.jpg' %}" class="w-full h-full absolute top-0 left-0">
        <div class="flex gap-16 justify-center items-center w-full h-full absolute top-0 left-0">
            <div class="flex flex-col items-center gap-6">
                <div class="card-mask h-fit w-fit bg-gray-500 rotate-2 bg-[url('../images/tapes-transparent.png')] bg-contain rounded-lg pb-3 px-6 pt-8 text-center">
                    <h1 class="font-splatoon1 text-4xl pb-8">Lifetime Stats</h1>
                    <div class="flex justify-center items-center gap-6">
                        <div>
                            <div class="text-2xl">
                                Victory
                            </div>
                            <div class="text-4xl">
                                {{ win_count }}
                            </div>
                        </div>
                        <div>
                            <div class="text-2xl">
                                Defeat
                            </div>
                            <div class="text-4xl">
                                {{ lose_count }}
                            </div>
                        </div>
                    </div>

                    <div class="flex justify-center items-center gap-6 pt-4">
                        <div>
                            <div class="text-lg">
                                Win Rate
                            </div>
                            <div class="text-2xl">
                                {{ win_rate|floatformat:1 }}%
                            </div>
                        </div>
                        {% if period_ago_win_rate is not None %}
                            <div>
                                <div class="text-lg">
                                    24 Hour Win Rate
                                </div>
                                <div class="text-2xl">
                                    {{ period_ago_win_rate|floatformat:1 }}%
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="-rotate-1 scale-125">
                    {% include "includes/splashtag.html" with splashtag=splashtag %}
                </div>
            </div>

            <div class="flex flex-col items-center gap-6">
                {% for weapon in most_used_weapons %}
                    <div class="p-2 pt-6 card-mask h-fit w-fit bg-gray-600 rotate-3 odd:-rotate-3 bg-[url('/images/tapes-transparent.png')] bg-contain rounded-lg">
                        <div class="flex gap-1">
                            <img
                                    src="{{ weapon.flat_image.url }}"
                                    alt="{{ weapon.name.string }}"
                                    class="h-36"
                            >
                            <div class="flex flex-col gap-2">
                                {% include "splatnet_assets/mask_image.html" with object=weapon.special class="inline h-12 w-12 p-1 rounded bg-gray-900/90" uploader=profile_user image_params="height=128&width=128" alt=weapon.special.name.string %}
                                {% include "splatnet_assets/mask_image.html" with object=weapon.sub class="inline h-12 w-12 p-1 rounded bg-gray-900/90" uploader=profile_user image_params="height=128&width=128" alt=weapon.sub.name.string %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <span class="absolute bottom-2 right-2 text-xl opacity-50">splashcat.ink</span>
    </div>
{% endblock %}