<div class="w-full h-min px-2 py-1 {% if battle.teams.count > 2 %}rotate-1 odd:-rotate-1{% else %}rotate-2 odd:-rotate-2{% endif %} rounded-lg bg-[color:var(--team-color)]"
     style="--team-color: {{ team.color.css }}"
>
    <span class="font-splatoon1 text-3xl splatoon-text-shadow">
        {% if team.judgement == "WIN" %}
            VICTORY
        {% elif team.judgement == "DRAW" %}
            DRAW
        {% elif team.judgement == "LOSE" %}
            DEFEAT
        {% else %}--{% endif %}
    </span>
    {% if team.fest_team_name %}
        <span class="text-xl splatoon-text-shadow">Team {{ team.fest_team_name }}</span>{% endif %}
    <div class="flex flex-col gap-1">
        {% with next_team=team.next_team %}
            {% for player in team.players.all|dictsort:"order" %}
                {% include 'battles/components/player_row.html' with player=player next_team=next_team %}
            {% endfor %}
        {% endwith %}
    </div>
</div>
