{% extends "base.html" %}

{% block content %}
    <h1 class="text-2xl font-splatoon1">
        {% block title %}Splashcat Assistant Threads{% endblock %}
    </h1>

    <p>Get insights into your battle data with Splashcat Assistant.</p>

    <div class="py-5">
        <a href="{% url 'assistant:create_thread' %}" class="bg-pink-600 hover:bg-pink-700 p-4 rounded">
            Start a new Thread
        </a>
    </div>
    <p class="text-sm">Note: Battle data is updated when a new thread is created.</p>
{% endblock %}